body {
  margin: 0;
  background-image: url("media/texture.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lobster Two", cursive !important;
  background-size: 120vh 130vw;
}

#title {
  font-size: 30px;
}

#form-body {
  background-color: rgba(231, 202, 202, 1);
  margin: 30px 400px;
  border-radius: 14px;
}
#form-search {
  padding: 20px;
}
